@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1000px) {
  html {
    font-size: 1.6vw;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

html {
  font-family: sans-serif;
}

body {
  line-height: 1.8;
  word-wrap: break-word;
}

a {
  color: rgb(45, 46, 48);

  @apply dark:text-blue-400;

  &:visited {
    color: rgb(38, 44, 48);

    @apply dark:text-violet-300;
  }
}
